body {
    font-family: "Comic Sans MS";
    text-align: center;
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHRhZDVra3I4bmwxMjE2MmR3MjViYWY3MG1tNnlqYWFkaHNvbnM5eSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/LjWMLE6jzKceNC71tp/giphy-downsized-large.gif");
    text-shadow: 4px 4px 4px black;
    color: white;
  }
  
  a:link{
    color: white;
  }
  
  a:visited{
    color: yellow;
    text-shadow: 4px 4px 4px black;
  }