body {
  margin: 0px;
}

canvas {
  background-image: url("https://www.comfortzone.com/-/media/Project/OneWeb/ComfortZone/Images/why-do-cats-yawn/shutterstock_606267251.jpg");
}

img {
  display: none
}
