body {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: hsl(315, 100%, 84%);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: hsl(315, 100%, 84%)}
  
  .button:active {
    background-color: hsl(315, 100%, 84%);
    box-shadow: 0 5px #554f54;
    transform: translateY(4px);
  }